<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="UTF-8">
  <title>Une page EJS </title>
  <img src="/image.png"> </img>
 </head>
<body>
    <h1> Bienvenu sur la page de <%= nom %> </h1>

</body>
</html>