<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cours</title>
</head>
<body>
	<header>
		<h1> <%=title%> </h1>
	</header>
	<section>
		voici la liste des affiches :
		<ul> <%for (var nom of content) {%>
			<li> 	<a href="<%=nom%>"> <%=nom%> </li> <% } %>
		</ul> 
	</section>

</body>
</html>