<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />  
<title>
  <%= titre %>
</title>
 
 
</head>
<body>

  <h1>  <%= titre %> </h1>

    <form action="/" method="post"> 
        <br></br>
        <label for="nom">Entrer votre nom: </label>
        <input type="text"  id="nom" name="nom">  
       
        <br></br>
        <label for="password">Entrer votre mot de passe: </label>
        <input type="password"  id="password" name="password">
       
        <br></br>
        <button type="submit" name="submit" >envoyer</button>

        </form>
       

</body>
</html>