
<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />  
  <title>Log_in </title>
 </head>
<body>
    <h1> Bonjour  <%= nom %>  , votre mot de passe a été mis a jour. </h1>
      

</body>
</html>