<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />  
  <title>Register </title>
 </head>
<body>
    <h1> Bonjour <%= nom %> , vous avez été enregistré </h1>
      
</body>
</html>