<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />  
<title>
  <%= titre %>
</title>
 
 
</head>
<body>

  <h1> Bienvenu sur la page du formulaire </h1>

    <form action="http://localhost:8080/" method="post"> 
        <br></br>
        <label for="nom">Entrer votre nom: </label>
        <input type="text"  id="nom" value="">  
       
        <br></br>
        <label for="password">Entrer votre mot de passe: </label>
        <input type="password"  id="password" value="">
       
        <br></br>
        <button type="submit" name="submit">envoyer</button>
    </form>

</body>
</html>