[Desktop Entry]
Version=1.0
Type=Link
Name=Full SQL Commands List: Learn from SQL Reference
Comment=
Icon=user-bookmarks
URL=https://www.bitdegree.org/learn/sql-commands-list
